/* Made a global class so everything uses the custom font */
/* To use the custom font copy the links in the header of one of my pages(I marked the section of links with "Custom font requirement") 
and put them in yours, then it should work. */
*
{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* This is for the breaking news picture */
.fit
{
    width: 100%;
    height: auto;
}

/* This is for the two section pictures at the bottom */
.fit2
{
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* This is just for the dailey bugle title */
.texttitle
{
    font-size: 20pt;
    font-weight: bold;
}

/* These styles are for the page's background colors */
#newcolor
{
    background-color: rgb(34, 143, 253);
}
#newcolor2
{
    background-color: rgb(255, 0, 0);
}
#newcolor3
{
    background-color: white;
}